
.container{
    min-height: 80vh;
    animation: loadMargin 0.4s linear 1;
    transition: margin-top 0.3s ease-in-out;
}
@keyframes loadMargin {
  0%{
    margin-top: 150px;
    opacity: 0.5;
  }
  100%{
    margin-top: 0px;
    opacity: 1;
  }
}