
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background-color: rgba(2, 124, 135, 0.5); 
  color: #ffffff; 
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
}